<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.techxplorer.testmeshms"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="org.servalproject.meshms.RECEIVE_BROADCASTS"/>
    <uses-permission android:name="org.servalproject.rhizome.ADD_FILE"/>
    <uses-permission android:name="org.servalproject.rhizome.RECIEVE_FILE"/>

    <application android:label="@string/app_name" >
        <activity android:name="i3.microblogging.distribue.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SendActivity"></activity>
        <activity android:name="i3.microblogging.distribue.Tweets"></activity>
        <activity android:name="i3.microblogging.distribue.UserList"></activity>
        <activity android:name="i3.microblogging.distribue.WriteTweet"></activity>
        <activity android:name="i3.microblogging.distribue.User"></activity>
        
    </application>
</manifest> 
